*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 15rem;
    height: 32.5rem;
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50,50,50,0.29);
    -moz-box-shadow:7px 7px 5px 0px rgba(50,50,50,0.29);
    box-shadow:7px 7px 5px 0px rgba(50,50,50,0.29);
}

.container.day{
    background-image: url(../img/day.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container.night{
    background-image: url(../img/night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.inputTemp{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 0.4;
    margin: 1rem auto;
}

.search_submit{
    display:flex;
}

.search_submit > button{
    visibility: hidden;
}

.search_input{
    width: 100%;
    padding:0.5rem;
    border-radius: 0.5rem;
    border: none;
    text-align: center;
}

.search_input:focus{
    outline: none;
}

.inputTemp_number{
    display: flex;
    align-items: center;
}

.inputTemp_grados{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 4rem;
}

.inputTemp_symbol{
    font-size: 2rem;
    color: white;
}

.location{
    flex:0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location_date{
    margin:1.5rem;
    text-align: center;
}

.inputTemp_description, .location_city{
    font-size: 1.3rem;
    font-weight: bolder;
    color: #333;
}

.container .inputTemp_description{
    color: white;
}

.container .location_city{
    color: white;
}

.container.night .location_city{
    color: black;
}


.container.night .location_date{
    font-size: 1.3rem;
    font-weight: bolder;
    color:black;
}


.container .location_date{
    color:white;
    font-weight: bolder;
}

.weather{
    flex: 0.1;
    border-top: 2px solid #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}



.weather_min > span{
    font-size: 1.4rem;
}

.weather_max > span{
    font-size: 1.4rem;
}
